<html dir="rtl">
  <header>
    <h1>{{ loginText.registerTitle }}</h1>
  </header>
  <body>
    <div class="container">
      <div class="row">
        <div
          class="col-xs-12 col-sm-10 col-md-8 com-sm-offset-1 col-md-offset-2"
        >
          <form (ngSubmit)="onSubmit()" #f="ngForm">
            <div
              id="user-data"
              ngModelGroup="userData"
              #userData="ngModelGroup"
            >
              <div class="form-group">
                <label for="email">{{ loginText.userName }}</label>
                <input
                  type="text"
                  id="email"
                  class="form-control"
                  ngModel
                  name="email"
                  required
                  email
                  #email="ngModel"
                />
                <span
                  class="help-block"
                  *ngIf="email.invalid && email.touched"
                  >{{ loginText.userNameErrorMsg }}</span
                >
              </div>
              <div class="form-group">
                <label for="password">{{ loginText.password }}</label>
                <input
                  type="password"
                  id="empasswordail"
                  class="form-control"
                  ngModel
                  name="password"
                  required
                  password
                  #password="ngModel"
                />
                <span
                  class="help-block"
                  *ngIf="!password.valid && password.touched"
                  >{{ loginText.passwordErrorMsg }}</span
                >
              </div>
              <!-- <div class="form-group">
              <label for="secret">Secret Question</label>
              <select
                id="secret"
                class="form-control"
                [ngModel]="defaultQuestion"
                name="secret"
              >
                <option value="pet">Your first Pet?</option>
                <option value="teacher">Your first teacher?</option>
              </select>
            </div> -->
            </div>
            <p *ngIf="!userData.valid && userData.touched">
              {{ loginText.invalidLoginForm }}
            </p>
            <hr />
            <h4>{{ loginText.shareWithUs }}</h4>
            <div class="form-group">
              <textarea
                name="questionAnswer"
                rows="3"
                class="form-control"
                [(ngModel)]="answer"
              ></textarea>
            </div>
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!f.valid"
            >
              {{ loginText.registerButton }}
            </button>
          </form>
        </div>
      </div>
      <hr />
      <router-outlet></router-outlet>
      <div class="row" *ngIf="submitted">
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>UserName: {{ user.email }}</p>
          <p>Password: {{ user.password }}</p>
          <p>Answer: {{ user.loginShare }}</p>
        </div>
      </div>
    </div>
  </body>
</html>
